{% extends "base.html" %} 

{% block title %} Wishlist Detail - {{wishlist.list_name}} 
{% endblock %} 

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col md-3">
      <h1>{{ wishlist.list_name }}</h1>
      <p class="helptext">Last update on: {{wishlist.updated_at}}</p>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col md-3">
      {% if request.user == wishlist.created_by %}
      <!-- Modal to share a wish list-->
      <!-- Link to trigger the modal -->
      <button
        type="button"
        class="btn btn-outline-dark"
        data-bs-toggle="modal"
        data-bs-target="#shareModal"
      >
        <i class="fa-solid fa-link"></i> Share your Wish List
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="shareModal"
        tabindex="-1"
        aria-labelledby="shareModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="shareModalLabel">
                Share your Wish List
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p>Copy this link:</p>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="shareLink"
                  value="{{ request.build_absolute_uri }}"
                  readonly
                />
                <button class="btn btn-delete" type="button" id="shareButton">
                  Copy <i class="fa-solid fa-copy"></i>
                </button>
              </div>
              <div class="input-group mb-3 justify-content-center">
                <p id="share-message"></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-2">
        <div class="col-md-8">
          <a
            href="{% url 'edit_wishlist' wishlist.wish_list_id %}"
            class="btn btn-edit"
            >Edit <i class="fa-solid fa-pen helptext"></i
          ></a>
          <a
            href="{% url 'delete_wishlist' wishlist.wish_list_id %}"
            class="btn btn-delete"
            >Delete <i class="fa-solid fa-trash helptext"></i
          ></a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <p><i class="fa-regular fa-calendar"></i> {{wishlist.due_date}}</p>
      <p>Details: {{wishlist.description}}</p>
      <p>Occassion: {{wishlist.get_occassion_display}}</p>

      <div>
        <!-- Modal to add items -->
        <!-- Button trigger modal -->
        {% if request.user == wishlist.created_by %}
        <button
          type="button"
          class="btn btn-dark mb-3"
          data-bs-toggle="modal"
          data-bs-target="#itemModal"
        >
          <i class="fa-solid fa-plus"></i> Add item
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="itemModal"
          tabindex="-1"
          aria-labelledby="itemModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="itemModalLabel">
                  Add an item
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form id="addItemForm" method="POST">
                  {% csrf_token %} {{ itemForm.media }} {{ itemForm|crispy}}
                  <button class="btn btn-pink" type="submit" name="add_item">
                    Add Item
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8 mt-3">
          <a href="{% url 'wishlist_list' %}"
            >&laquo; Back to Wish List Overview</a
          >
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
