{% extends 'base.html' %}

{% block title %}
Delete profile
{% endblock %}

{%block content %}

<div class="container content-shadow">
    <div class="row justify-content-center">
        <div class="col md-3">
          <h1>Confirm to delete your profile</h1>
          <h2>{{ user.username }}</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="text-center">
                {% csrf_token %}
            <p>Are you sure you want to delete your profile:<br>
                <span class="txt-highlight">{{ user.username }}</span>?<br> 
                All created wish lists are removed. This action cannot be undone.
            </p>
            <input type="submit" value="Confirm Deletion &raquo;" class="btn btn-delete">
        </form>
        </div>
    </div>
</div>

{% endblock %}