{% extends "base.html" %} 
{% block title %} Profile {% endblock %} 

{% block content %}

<div class="container content-shadow">
  <div class="row">
    <h1 class="text-center">Your Profile</h1>
  </div>
  {% if request.user.is_authenticated %}
  <div class="row justify-content-center">
    <div class="col-md-6 md-3">
        <a
          href="{% url 'edit_profile' %}"
          class="btn btn-edit mt-2"
          ><i class="fa-solid fa-pen helptext"></i
        > Edit your profile</a>
        <a
          href="{% url 'delete_profile' %}"
          class="btn btn-delete mt-2"
          ><i class="fa-solid fa-trash helptext"></i
        > Delete your profile</a>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
      <div class="card" style="width: 30rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">First Name: <span class="txt-highlight" id="f_name">{{ user_profile.first_name }}</span></li>
          <li class="list-group-item ">Last Name: <span class="txt-highlight" id="l_name">{{ user_profile.last_name }}</span></li>
          <li class="list-group-item">Username: <span class="txt-highlight">{{ user_profile.user }}</span></li>
          <li class="list-group-item">E-Mail: <span class="txt-highlight">{{ user.email }}</span></li>
        </ul>
      </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 md-3 mt-4">
    <a
          href="{% url 'wishlist_list' %}"
          class="btn btn-pink"
        >
          Show your wish lists overview &raquo;</a
        >
    </div>
    </div>
  {% else %}
  <p>
    To see your profile you need to
    <a href="{% url 'account_login' %}">log in</a> first.
  </p>
  {% endif %}
</div>
{% endblock %}
