{% extends "base.html" %} 
{% block title %} Profile {% endblock %} 

{% block content %}

<div class="container">
  <div class="row">
    <h1 class="text-center">Your Profile</h1>
  </div>
  {% if request.user.is_authenticated %}
  <div class="row justify-content-center">
    <div class="col-md-6 md-3">
        <a
          href=" "
          class="btn btn-edit"
          ><i class="fa-solid fa-pen helptext"></i
        > Edit your profile</a>
        <a
          href=""
          class="btn btn-delete"
          ><i class="fa-solid fa-trash helptext"></i
        > Delete your profile</a>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Username: {{ user_profile.user }}</li>
          <li class="list-group-item">First Name: {{ user_profile.first_name }}</li>
          <li class="list-group-item">Last Name: {{ user_profile.last_name }}</li>
        </ul>
      </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 md-3 mt-4">
    <a
          href="{% url 'wishlist_list' %}"
          class="btn btn-reverse"
        >
          Show your wish lists overview &raquo;</a
        >
    </div>
    </div>
  {% else %}
  <p>
    To see your profile you need to
    <a href="{% url 'account_login' %}">log in</a> first.
  </p>
  {% endif %}
</div>
{% endblock %}
