{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block title %}
    Log In
{% endblock title %}

{% block content %}
<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-md-6 offset md-3">
      <h2>{% trans "Log In" %}</h2>
      {% setvar link %}
            <a href="{{ signup_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
        {% endsetvar %}
        {% element p %}
            {% blocktranslate %}If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.{% endblocktranslate %}
        {% endelement %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 offset md-3">
        <form
        class="form"
        id="login_form"
        method="post"
        action= "{% url 'account_login' %}"
      >
        {% csrf_token %} {{ form|crispy }} {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
        <button type="submit" class="btn">{% trans "Log In" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
