<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your Wish List maker will help you create and organize your wish lists for any occasion imaginable.">
    <meta name="keywords" content="wish, wish list, birthday, wedding, bridal shower, baby shower, gift, present, list">
    <title>Your Wish List Maker</title>

</head>
<body>
    <h1>Your Wish List Maker</h1>
</body>
</html>