<footer>
  <div class="container text-center">
    <div class="row footer-row">
      <div class="col text-nowrap">
        <a
          href="https://www.linkedin.com/in/dajana-isbaner/"
          target="_blank"
          rel="noopener"
          aria-label="Link to my LinkedIn profile (opens in new tab)"
          ><i class="fa-brands fa-linkedin icon"></i
        ></a>
        <a
          href="https://github.com/queenisabaer/wishlist/"
          target="_blank"
          rel="noopener"
          aria-label="Link to the Repository of this project on GitHub (opens in new tab)"
          ><i class="fa-brands fa-github icon"></i
        ></a>
      </div>
      <div class="col">
        <p class="text-nowrap">For educational use only</p>
      </div>
    </div>
  </div>
</footer>
